<table>
  <tr>
    <td>Name</td>
    <td>No Of Commits</td>
  </tr>
  <%= @committers.each do |name,no_of_commits| %>
    <tr>
      <td><%= name %></td>
      <td><%= no_of_commits %></td>
    </tr>
  <% end %>
</table>
