<table>
  <tr>
    <td>Name</td>
    <td>No Of Commits</td>
  </tr>
  <%= @committers.each do |committer| %>
    <tr>
      <td><%= committer[:committer].name %></td>
      <td><%= committer[:no_of_commits] %></td>
    </tr>
  <% end %>
</table>
